<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ncovback.mapper.AppealMapper">
    <select id="getUserInfo" parameterType="com.example.ncovback.entity.Appeal" resultType="com.example.ncovback.entity.Appeal">
        select  CONCAT(left(town_id,4),'00') as city_code,user_id, user_name, user_identify,phone as user_phone,detail_location as user_location, user_signcolor from tb_user where user_id=#{user_id};
    </select>
    <insert id="addUserappeal" parameterType="com.example.ncovback.entity.Appeal">
        insert into tb_appeal (city_code,user_id,user_name,user_identify,user_phone,user_location,user_signcolor,appeal_reason,appeal_time,appeal_status)
        values (#{city_code},#{user_id},#{user_name},#{user_identify},#{user_phone},#{user_location},#{user_signcolor},#{appeal_reason},NOW(),0);
    </insert>
    <select id="getCityAppeal" parameterType="com.example.ncovback.entity.Appeal" resultType="com.example.ncovback.entity.Appeal">
        select * from tb_appeal where city_code=#{city_code}
    </select>
    <update id="handleAppeal" parameterType="com.example.ncovback.entity.Appeal">
        update tb_appeal set appeal_status=1 where appeal_id=#{appeal_id}
    </update>
    <select id="getUserid" parameterType="com.example.ncovback.entity.Appeal" resultType="java.lang.Integer">
        select user_id from tb_appeal where appeal_id=#{appeal_id}
    </select>
    <insert id="addAppealResultMessage" parameterType="java.lang.Integer">
        insert into tb_message (message_type,user_id,message_time,message_detail)
        values ('申诉结果提醒',#{user_id},NOW(),'健康码申诉已处理完成。');
    </insert>
    <select id="getAppealStatusvalue" parameterType="com.example.ncovback.entity.Appeal" resultType="com.example.ncovback.entity.Status_value">
        select appeal_status as status,count(*) as s_value
        from tb_appeal where city_code=#{city_code} group by appeal_status ;
    </select>
</mapper>