<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ncovback.mapper.MessageMapper">
    <select id="getAllMessage" parameterType="com.example.ncovback.entity.Message" resultType="com.example.ncovback.entity.Message">
        select * from tb_message where user_id=#{user_id} order by message_time desc
    </select>
    <select id="getUserbytubeid" parameterType="com.example.ncovback.entity.Message" resultType="java.lang.Integer">
        select user_id
        from tb_natres where tube_id=#{tube_id};
    </select>
    <insert id="addnatResultMessage" parameterType="com.example.ncovback.entity.Message">
        insert into tb_message (message_type,user_id,message_time,message_detail)
        values ('核酸结果提醒',#{user_id},NOW(),'核酸结果已出，请至健康码界面查询');
    </insert>
</mapper>