<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ncovback.mapper.TravelRecordMapper">
    <insert id="addTravelRecord" parameterType="com.example.ncovback.entity.TravelRecord">
        insert into tb_travel (user_id,area_code,street_id,t_time)
        values (#{user_id},#{area_code},#{street_id},NOW());
    </insert>
    <select id="getTravelRecordbyuid" parameterType="com.example.ncovback.entity.TravelRecord" resultType="java.lang.String">
        select CONCAT(province_name,city_name) from tb_province,tb_city where city_code in
        (select CONCAT(left(area_code,4),'00') from tb_travel where user_id=#{user_id} and TIMESTAMPDIFF(HOUR ,t_time,NOW()) &lt; 168) and province_code in
        (select CONCAT(left(area_code,3),'000') from tb_travel where user_id=#{user_id} and TIMESTAMPDIFF(HOUR ,t_time,NOW())&lt; 168)
        and left(province_code,2)=left(city_code,2);
    </select>
</mapper>
