<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ncovback.mapper.UserMapper">
    <select id="login" parameterType="com.example.ncovback.entity.User" resultType="com.example.ncovback.entity.User">
        select * from tb_user where phone=#{phone} and password=#{password};
    </select>
    <insert id="register" parameterType="com.example.ncovback.entity.User" >
        insert into tb_user (phone,password,user_name,user_identify,user_signcolor,sign_timeleft) values(#{phone},#{password},#{user_name},#{user_identify},0,0 )
    </insert>
    <select id="ifExist" parameterType="com.example.ncovback.entity.User" resultType="java.lang.Integer">
        select count(*) from tb_user where phone=#{phone};
    </select>
</mapper>