<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ncovback.mapper.UserMapper">
    <select id="login" parameterType="com.example.ncovback.entity.User" resultType="com.example.ncovback.entity.User">
        select * from tb_user where phone=#{phone} and password=#{password};
    </select>
    <insert id="register" parameterType="com.example.ncovback.entity.User" >
        insert into tb_user (phone,password,user_name,user_identify,user_signcolor) values(#{phone},#{password},#{user_name},#{user_identify},0 )
    </insert>
    <select id="ifExist" parameterType="com.example.ncovback.entity.User" resultType="java.lang.Integer">
        select count(*) from tb_user where phone=#{phone};
    </select>
    <update id="changePassword" parameterType="com.example.ncovback.entity.User" >
        update tb_user set password=#{password} where phone=#{phone}
    </update>
    <select id="getRelativebyid" parameterType="com.example.ncovback.entity.User" resultType="com.example.ncovback.entity.User">
        select * from tb_user where user_id in (select relative_id from tb_relatives where user_id=#{user_id})
    </select>
    <insert id="addRelativebyid" useGeneratedKeys="true" keyProperty="user_id">
        insert into tb_user (user_name,user_identify,phone)
        values (#{user_name},#{user_identify},#{phone}) ;
    </insert>
    <insert id="addRelation" parameterType="java.lang.Integer">
        insert into tb_relatives (user_id,relative_id)
        values (#{user_id},#{relative_id});
    </insert>
    <update id="uploadPicture" parameterType="com.example.ncovback.entity.User">
        update tb_user set picture_url=#{picture_url} where user_id=#{user_id}
    </update>
    <update id="changeUserPhone" parameterType="com.example.ncovback.entity.User">
        update tb_user set phone=#{phone} where user_id=#{user_id} and password is not null
    </update>
    <delete id="deleteRelation" parameterType="java.lang.Integer">
        delete
        from tb_relatives
        where user_id=#{user_id} and relative_id=#{relative_id};
    </delete>
    <delete id="deleteRelAccount" parameterType="java.lang.Integer">
        delete
        from tb_user
        where user_id=#{relative_id};
    </delete>
    <update id="declareHealthCode" parameterType="com.example.ncovback.entity.User">
        update tb_user
        set sign_timeleft = NOW(),town_id=#{town_id},detail_location=#{detail_location}
        where user_id=#{user_id};
    </update>
    <select id="getTownid" parameterType="com.example.ncovback.entity.User" resultType="java.lang.String">
        select distinct concat(area_code,town) as town_id from tb_town where town_name=#{town_name};
    </select>
    <select id="getTownbyarea" parameterType="java.lang.String" resultType="com.example.ncovback.entity.Town">
        select distinct concat(area_code,town) as town_id,town_name from tb_town where area_code in (select area_code from tb_area where area_name=#{area_name});
    </select>
</mapper>