<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ncovback.mapper.VacPointMapper">
    <select id="getVacPointbycity" parameterType="com.example.ncovback.entity.VacPoint" resultType="com.example.ncovback.entity.VacPoint">
        select * from tb_vacpoint where city_code in (select city_code from tb_city where city_name like #{city_name})
    </select>
    <select id="getvaccinedPoints" parameterType="com.example.ncovback.entity.VacPoint" resultType="com.example.ncovback.entity.VacPoint">
        select * from tb_vacpoint where city_code=#{city_code}
    </select>
    <update id="editvaccinedPoints" parameterType="com.example.ncovback.entity.VacPoint">
        update tb_vacpoint set vac_pointname=#{vac_pointname},open_time=#{open_time},vac_pointphone=#{vac_pointphone},vac_kind=#{vac_kind},vac_extraInfo=#{vac_extraInfo}
        where vac_pointid=#{vac_pointid}
    </update>
    <select id="getAreabyCityCode" parameterType="java.lang.String" resultType="com.example.ncovback.entity.Town">
        select * from tb_area where CONCAT(LEFT(area_code,4),'00')=#{city_code}
    </select>
</mapper>