<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ncovback.mapper.VacResultMapper">
    <select id="getVacResultbyid" parameterType="com.example.ncovback.entity.User" resultType="com.example.ncovback.entity.VacResult">
        select tb_vaccination.*,tb_vacpoint.vac_pointname from tb_vacpoint,tb_vaccination
        where tb_vacpoint.vac_pointid=tb_vaccination.vac_pointid and tb_vaccination.user_id=#{user_id}
        order by tb_vaccination.vac_time;
    </select>
    <select id="getCovVacpeopleName" resultType="java.lang.String">
        select distinct user_name from tb_user where user_id in (select user_id from tb_vaccination)
    </select>
    <select id="getCovVacpointName" resultType="java.lang.String">
        select distinct vac_pointname from tb_vacpoint where vac_pointid in (select vac_pointid from tb_vaccination)
    </select>
    <select id="searchVaccine" parameterType="com.example.ncovback.entity.VacResult" resultType="com.example.ncovback.entity.VacResult">
        select tb_vaccination.*,tb_user.phone, tb_user.user_name,tb_user.user_identify,tb_vacpoint.vac_pointname
               from tb_vaccination,tb_user,tb_vacpoint where tb_vaccination.user_id in (select user_id from tb_user where user_name=#{user_name})
                                             and tb_vaccination.user_id=tb_user.user_id
                                       and tb_vaccination.vac_pointid in (select distinct vac_pointid from tb_vacpoint where vac_pointname=#{vac_pointname})
                                                         and tb_vaccination.vac_pointid=tb_vacpoint.vac_pointid
                                       and vac_time=#{vac_time} and dose=#{dose}
    </select>
    <select id="getvaccineAreaRanking" parameterType="java.lang.Integer" resultType="com.example.ncovback.entity.VaccinedCity">
        select area_name,count(*) as vaccined_value  from tb_vacpoint,tb_area where city_code=#{city_code} and tb_area.area_code=tb_vacpoint.area_code  group by tb_vacpoint.area_code order by vaccined_value desc
    </select>
</mapper>